<html>
<head>
    <meta charset="UTF-8">
    <title>入门小Demo</title>
    <script src="js/angular.min.js"></script>
    <script>
        var app=angular.module('myApp',[]); //定义了一个叫myApp的模块
        //定义控制器 $http 内置服务
        app.controller('myController',function($scope , $http){
            $scope.list1 = [100,192,203,111];//定义数组
            $scope.add=function(){
                return $scope.z= parseInt($scope.x)*parseInt($scope.y);
            }
            //循环定义数组
            $scope.list=[
                {name:'张三',shuxue:100,yuwen:93},
                {name:'李四',shuxue:88,yuwen:87},
                {name:'王五',shuxue:77,yuwen:56}
            ];//定义数组

        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="myname='陈大海'">
<!--ng-model 指令用于绑定变量,这样用户在文本框输入的内容会绑定到变量上，而表达式可以实时地输出变量。-->
请输入你的姓名：<input ng-model="myname">
<br>
{{myname}},你好
<p></p>
x:<input ng-model="x">*
y:<input ng-model="y">
<!--运算结果：{{add()}}-->
<button ng-click="add()">运算</button>
结果：{{z}}
<p/>
<table>
    <tr ng-repeat="x in list1">
        <td>{{x}}</td>
    </tr>
</table>
<p>循环对象数组</p>
<table>
    <tr>
        <td>姓名</td>
        <td>数学</td>
        <td>语文</td>
    </tr>
    <tr ng-repeat="entity in list">
        <td>{{entity.name}}</td>
        <td>{{entity.shuxue}}</td>
        <td>{{entity.yuwen}}</td>
    </tr>name
</table>

</body>
</html>
